.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-list {
    width: 79px;
    height: 91px;
    background-position: -5px -5px;
}

.sprite-mouse {
    width: 23px;
    height: 37px;
    background-position: -94px -5px;
}

.sprite-pen {
    width: 80px;
    height: 83px;
    background-position: -127px -5px;
}

.sprite-window {
    width: 79px;
    height: 76px;
    background-position: -94px -98px;
}