@import '../css/_grid.scss';
@import '../css/_sprite.scss';

$color-accent: #3c3c3c;
$font-regular: 'Roboto', sans-serif;

body, html{
  font-family: $font-regular;
  margin: 0;
  min-width: 320px;
  line-height: 1.5;
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}

h1 {
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: 13px;
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 28px;
  }

}

h2 {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 8px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

h5 {
  font-size: 15px;
  text-transform: uppercase;
}

p{
  font-size: 16px;
}

legend{
  text-align: center;
}

.page-header{
  color: #fff;
  background: url('../img/bg-1.jpg');
  background-repeat: no-repeat;
  //background-size: 100%;
  text-align: center;

  &__logo{
    margin-top: 220px;
    margin-bottom: 97px;

    @media (max-width: 768px) {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }
  &__scroll-down{
    margin-top: 100px;
    margin-bottom: 66px;

    @media (max-width: 768px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.page-header__sub{
  span{
    margin-top: 40px;
    display: block;
  }
}

.about{
  margin: 110px 0 140px;
  text-align: center;

  @media (max-width: 768px) {
    margin: 30px 0 60px;
  }
}

.textbox{

  &__text{
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 40px;

    @media (min-width: 768px) {
      border: 2px solid $color-accent;
      padding-top: 60px;
    }
  }
  // &__title {
  //   overflow: hidden;
  //   position: relative;
  //   top: 54px;
  // }
  &__title {
    @media (min-width: 768px) {
      position: relative;
      top: 30px;
      background-color: #fff;
      width: 420px;
      margin: 0 auto;
      z-index: 3;
    }
    &--dark {
      @media (min-width: 768px) {
        background-color: transparent;
    }
    }
  }

  &__button{
    background-color: $color-accent;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 395px;
    height: 60px;
    border: 0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

    transition: background-color, 0.3s;

    @media(max-width: 768px) {
      font-size: 14px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($color-accent, 10%);
    }
  }
}

.about{
  .textbox{
    &__title:before {
      margin-right: 127px;
    }
    &__title:after {
      margin-left: 127px;
    }
  }
}

.begin{
  color: #fff;
  background: url('../img/bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  .textbox{
    margin: 64px 0 96px 0;
    &__title{
      padding: 0 28px;
    }
    &__title:before,
    &__title:after {
      background: #fff;
    }
    &__title:before {
      margin-right: 10px;
    }
    &__title:after {
      margin-left: 10px;
    }
    &__text{
      border-color: #fff;
    }
  }
}

.skills{
  text-align: center;
}

.skillsbox{

  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 40px;

  &__title {
    @media(min-width: 768px) {
      top: 100px;
    }
  }


  @media(min-width: 768px) {
    border: 2px solid $color-accent;
    padding: 40px 0;
    margin-bottom: 115px;
    margin-top: 70px;
  }

  &__title:before {
    margin-left: -100%;
    margin-right: 18px;
  }
  &__title:after {
    margin-right: -100%;
    margin-left: 18px;
  }
}

.skill{
  margin-top: 85px;

  &__img{

  }
  &title{

  }
  &__deck{
    padding-right: 15%;
    padding-left: 15%;
  }
}

.contacts{
  text-align: center;
  margin: 60px 0 90px 0;

  .textbox .textbox__button{
    margin-bottom: 36px;
    margin-top: 5px;
  }
  .textbox{
    &__title:before {
      margin-right: 90px;
    }
    &__title:after {
      margin-left: 90px;
    }
  }
}

.page-footer{
  text-align: center;
  margin-bottom: 55px;
  margin-top: 55px;

  &__logo{
    vertical-align: middle;
    margin: 10px 32px;
  }
  &__text{
    display: inline-block;
    font-size: 14px;
  }
}

.works{
  &__block{
    padding: 0;
    @media (min-width: 768px) {
      padding: 5px;
    }
  }
  &__block:first-child{
    padding-left: 0;
  }
  &__block:last-child{
    padding-right: 0;
  }
  &__item{
    width: 100%;
    height: 237px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__item-1{
    background-image: url(../img/topworkz.png);
  }
  &__item-2{
    background-image: url(../img/joint.png);
  }
  &__item-3{
    background-image: url(../img/market.png);
  }
  &__item-4{
    background-image: url(../img/worktop.png);
  }
  &__item-5{
    background-image: url(../img/label.png);
  }
  &__item-6{
    background-image: url(../img/kyiv.png);
  }
  &__title{
    font-size: 34px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 48px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 0;
  }
}

.section {
  text-align: center;
}

.partners {
  margin-bottom: 30px;
}

.partners-carousel {
	margin:30px 0;
	position: relative;
}

.owl-carousel__item{
  width: 250px;
  height: 100px;
}

.owl-carousel {
	cursor: pointer;
}

.owl-theme .owl-dots .owl-dot span {
	width: 14px;
	height: 14px;
}

.owl-nav {
	position: absolute;
	width: 100%;
	height: 100%;
}

.owl-nav .owl-prev,
.owl-nav .owl-next{
	position: absolute;
	width: 60px;
	font-size: 70px;
	z-index: 20;
	cursor:pointer;
	opacity: 0.5;
	-webkit-transition:opacity .3s ease;
	transition:opacity .3s ease;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover{
	opacity: 0.8;
}

.owl-nav .owl-prev {
	left: 50px;
}

.owl-nav .owl-next {
	right: 50px;
	text-align: right;
}